@-moz-document domain("youku.com") {
.g-header-container {
    position: absolute !important;
}
}

@-moz-document domain("player.kuwo.cn") {
#down_tan + div,
#down_tan + div > div:first-child {
    width: 100%!important;
    height: 100%!important;
}
}

@-moz-document domain("yinyuetai.com") {
.topbar, .iframeshim {
    position: absolute !important;
}

/*修正 下一首 为浮动磁贴在右边
a.index_focus_next.J_next_mv {
    position: absolute !important;
    display: block !important;
    float: right !important;
    right: 0 !important;
}*/
}

@-moz-document url-prefix("https://translate.google.com.hk/translate?"), url-prefix("https://translate.google.com/translate?") {
#wtgbr,#gt-c {
    height: 5px !important;
    overflow: hidden;
    z-index: 100;
}
#wtgbr:hover,#gt-c:hover {
    height: auto !important;
}
#contentframe {
    top: 10px !important;
}
}